.chart-container{
    padding-top: 20px;

    .chart-title-div{
        padding-bottom: 16px;
        border-bottom: 2px solid #a5a6a7;

        p{
            font-size: 20px;
            color: #666666;
        }
    }

    .av-page{
        text-align: right;
        margin-top: 20px;
    }

    .chart-list{
        margin-top: 30px;
        overflow-x: hidden;
    }
    .nodata{
        font-size:24px;
        text-align:center;
        color:#c9c2c2;
        margin-top:100px;
    }
}