.user-mirror-table-menu{
    width: 280px;
    height: 100%;
    background: #e2e6ef;
    float: left;

    .ant-menu{
        background: #e2e6ef;
    }

    .ant-menu-item{
        height: 64px;
    }

    .ant-menu-item:hover{
        background: #1a5bfb;
    }
}