.user-mirror-container{
    padding: 10px;
    overflow: auto;

    .user-mirror-title{
        display: table-header-group;
        line-height: 32px;
        font-size: 16px;
    }
}
    .nData{   
         font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .oFlex{
        display:flex;
        height:100%;
    }