.dev-content-wrapper{
    padding:20px 40px;
    background : #fff;
    min-height:400px;
    h6{
        font-size: 20px;
        font-weight: normal;
        color: #666;
        padding-bottom: 10px;
        padding-top: 4px;
        margin-bottom: 18px;
        border: 0px;
        border-bottom: 2px solid #8a8a8b;
        height: auto;
    }
    .dev-content{
        line-height:24px;
        font-size:14px;
        p{
            margin-bottom:14px;
        }
    }
}