.dev-content-wrapper{
    padding:20px 40px;
    background : #fff;
    min-height:400px;
    h6{
        font-size: 20px;
        font-weight: normal;
        color: #666;
        padding-bottom: 10px;
        padding-top: 4px;
        margin-bottom: 18px;
        border: 0px;
        border-bottom: 2px solid #8a8a8b;
        height: auto;
    }
    .dev-content{
        line-height:24px;
        font-size:14px;
        p{
            margin-bottom:14px;
        }
    }
    .firstRow td{
        border-width: 2px 1px 1px;
        border-top-color: rgb(187, 187, 187);
        padding: 5px 10px;
        background: rgb(247, 247, 247);
    }
    .nextRow td{
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: none;
        padding: 5px 10px;
        min-width:140px;
        vertical-align: top;
    }
    table{
        font-size:12px;
        margin-bottom:16px;
        width:800px;
        border-top:1px dotted #8a8a8b
    }
    .nextRow2 {
        td{
            border-bottom:1px dotted #8a8a8b;
            &:nth-child(1){
                background:#f9f9f9;
            }
            &:nth-child(2){
                width:660px;
            }
        }
        a{display:block}
    }
    .oTable{
        width:100%;
        border-top:0px;
        border-right:1px solid #d9d9d9;
        border-bottom:1px solid #d9d9d9;
        td{
            border-left:1px solid #d9d9d9;
            border-top:1px solid #d9d9d9;
            padding:10px;
            font-size:12px;
        }
    }
}